# Copier en .env et remplir les valeurs

# Serveur
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hometownlink
DB_USER=postgres
DB_PASSWORD=@wilfried05

# JWT
JWT_SECRET=tragnorek517
JWT_EXPIRES_IN=7d

# Session
SESSION_SECRET=tragnorek517
SESSION_MAX_AGE=604800000

# Frontend (CORS)
CLIENT_URL=http://localhost:5173

# Uploads
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880
